[class^="bg-"]{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    height: 150px;
    border: 1px solid red;
}

body{
    padding-bottom: 50em;
    text-align: center;
}

.bg-color{
    background-color:purple;
}

.bg-image{
    background-image: url(../img/logo2.jpg);
}

.bg-size{ 
    /* permite ajustar la imagen de varios parametros
    *x [y] -> permite el ajuste de los ejes x como y (opcionalmente) 
    
    *cover -> permite que la imagen abarque todo el contenedor aun si se llega a deformar

    *contain -> ajusta la imagen al contenedor de sin que se pierdan las dimensiones */
    
    background-image: url(../img/logo.png);
    background-size: contain; 

}

.bg-repeat{
    /* permite modificar el modo en el cual va a mostrarse la imagen 

    *repeat -> en caso de que la imagen no cubra totalmente al contenedor esta se repetira en todo el contenedor

    *no-repeat->la imagen no se repite por ningun motivo 

    *repeat-x: unicamente se repite la imagen por el eje x del contenedor

    +repeat-y-> repite la image solo por el eje y  */

    background-image: url(../img/logo.png);
    background-size: contain;
    background-repeat: repeat-x;
}

.bg-position{

    /* establece la posicion en la cual se va a ubicar la imagen 
    
    left top bottom right center 
    
    %x %y
    
    initial -> la mantiene en su posicion original

    inherit ->coloca la imagen en la posicion del padre  */

    background-image: url(../img/logo.png);
    background-size: 35%;
    background-repeat: no-repeat;
    background-position: center;
}

.bg-origin{ /* permite que el relleno abarque desde el punto que se le aplica, con la diferencia de que la imagen se ajusta a el espacio designado, y en el caso de clip la recorta. tiene las mismas opciones que en clip*/
    border: 10px dotted red;
    background-image: url(../img/logo2.jpg);
    background-origin: border-box;
    background-repeat: no-repeat;
    background-size: content;
    padding: 25px;
}

.bg-clip{ /* propiedad encargada de ajustar el que cuanto de la caja sera acupada por el rellleno de esta  
    
    ->Border-box: permite que el relleno se aplique hasta la zona del border

    ->padding-box: esta propiedad permite que el relleno abarque hasta lo que abarque el padding

    -contenet-box: el relleno solo abarca hasta el limite del contenido
*/
    border: 10px dotted red;
    background-image: url(../img/logo2.jpg);
    background-clip: coborderox;
    background-repeat: no-repeat;
    background-size: content;
    padding: 25px;
}

.bg-attachment{ /* esta propiedad lo que permite es que la imagen pueda tener una forma de posocion respecto a su contenedor
    ->scroll: da la propiedad de que la imagen pueda moverse mientras que se desplace la pagina

    ->fixed: permite que la imagen pueda mantenerse fija mientras que uno se desplaza por la pagina  */
    width: 100%;
    height: 300px;
    background-image: url(../img/logo2.jpg);
    background-size: cover;
    background-attachment:fixed;
}

.bg-multiple{/* 
    la propiedad de background-image permite que existan varias imagenes dentro de un mismo contenedor */

    background-image: url(../img/logo.png),url(../img/logo2.jpg);
    width: 90%;
    height: 300px;
    background-size: contain,10%;
}