/* dentro de los breakpoints estan divididos en dos categorias:
->major breakpoints: son los casos en los cuales se persive un cambio significativo
->minor breakpoints: son los cambios aplicados a un elemento en especifico */

.menu{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

bo