body{
    font-family: sans-serif;
    background-image: radial-gradient(circle,#b94bf8, #3a1957);
    background-repeat: no-repeat;
    margin: 0;
    color: #eee;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container{
    display: grid; 
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 100px);
    /*
    grid explicito: es el grid que uno declara 
    grid implicito: es el grid aplicado a los elementos que no son afectados por el grid explicito 
    */
    grid-auto-rows: 200px; /* permite designar un tamaño a las filas que no son afectadas por el explicit grid */
   /*  grid-auto-columns: ; */ /* designa estilos a los elementos que no son afectados por el explicit grid  */

    /* en caso de que algunas celdas no encajen con los estilos solicitados estos se colocan como filas por defecto  */
    grid-auto-flow: column;/*  establece donde se van a colocar las celdas sobrantes

    dense: se decide de manera automatica en donde se va a colocar
    row: se cocan como filas extras
    column: coloca como columnas sobrantes
 */
}

.grid-item{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    padding: 1rem;
    font-size: 2rem;
}